<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs')%>
    <main>
        <div class="container">
            <% users.forEach(user => { %>
                <article class="card">
                    <div class="card-left">
                        <figure>
                            <img src="<%= user.img%>" alt="">
                        </figure>
                        <h3>#<%= user.id %></h3>
                    </div>
                    <div class="card-content">
                        <h3><%= user.name %></h3>
                        <p><%=user.Technical_Skills%></p>
                        <p><%=user.rating%></p>
                        <p>Email: <a href="mailto:<%=user.email %>" target="_blank"><%=user.email%></a></p>
                        <div>
                            <a class="button" href="/users/1">Ver detalle</a>
                        </div>
                    </div>   
                </article>
            <% }) %>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>

